[Desktop Entry]
Exec=conrad_compare %F
GenericName=
MimeType=image/x-xpixmap;image/x-xbitmap;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-eps;image/webp;image/vnd.microsoft.icon;image/vnd.adobe.photoshop;image/tiff;image/png;image/jpeg;image/gif;image/bmp;application/dicom
Name[de_DE]=Mit CONRAD ImageJ vergleichen
Name=Compare with CONRAD ImageJ
NoDisplay=true
Path=
StartupNotify=true
Terminal=true
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
