[Desktop Entry]
Exec=conrad
GenericName=CONRAD 
Name[de_DE]=CONRAD
Name=CONRAD
StartupNotify=true
Terminal=false
Type=Application
Categories=Science;Education;

