[Desktop Entry]
Comment[de_DE]=
Comment=
Exec=conrad
GenericName[de_DE]=
GenericName=
#MimeType=inode/directory;image/x-xpixmap;image/x-xbitmap;image/x-portable-pixmap;image/x-portable-graymap;image/x-portable-bitmap;image/x-eps;image/webp;image/vnd.microsoft.icon;image/vnd.adobe.photoshop;image/tiff;image/png;image/jpeg;image/gif;image/bmp;application/dicom
Name[de_DE]=CONRAD
Name=CONRAD
NoDisplay=true
Path=
StartupNotify=true
Terminal=false
TerminalOptions=\s--noclose
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Science;Education

